.vscode
.hypothesis/

node_modules
.env
coverage
coverage.json

# Foundry files
out
cache_forge
cache


# Brownie files
build
tests
reports
deployed/arbitrum-main-fork
__pycache__
lcov.info
.DS_Store
package-lock.json
yarn.lock
